<body style="background-color: rgba(0, 0, 0, 0.03)">
<div class="card bg-dark text-white mt-5 mb-3" style="max-width: 100%;" >
    <img src="assets/images/hello1.jpg" class="card-img" alt=""  height="400px"/>
    <div class="card-img-overlay  justify-content-end" style="background-color: rgba(0, 0, 0, 0.3)">
      <h5 class="card-title text-end"><b style="font-size:30px; color:coral">Welcome to the world of readers' dreams </b></h5>
      <p class="card-text text-end" style="font-size:25px;">The best reading space for all categories</p>
      <p class="card-text text-end" style="font-size:20px;"> where a world of knowledge awaits with just a click.<br> Immerse yourself in an extensive collection of carefully<br> curated eBooks spanning a wide range of genres, from <br>timeless classics to the latest releases</p>
    </div><br>
  </div>
  <div class="container p"><h2 >books categories</h2>
<div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active" data-bs-interval="5000" style="height: 250px;">
        <img src="assets/images/a5.jpeg" class="d-block w-100" alt="..." height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h4>Children's Books</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="height: 250px;">
        <img src="assets/images/a3.jpeg" class="d-block w-100" alt="..." height="100%" >
        <div class="carousel-caption d-none d-md-block">
          <h4>Science Books</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="height: 250px;">
        <img src="assets/images/a1.jpeg" class="d-block w-100" alt="..." height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h4>Historic Books</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="height:250px ">
        <img src="assets/images/a4.jpeg" class="d-block w-100" alt="..." height="100%">
        <div class="carousel-caption d-none d-md-block">
          <h4>Cultural Books</h4>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" style="height:250px ">
        <img src="assets/images/a2.jpeg" class="d-block w-100" alt="..."height="100%">
        <div class="carousel-caption d-none d-md-block">
         <h4>Sport Books</h4>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

</div>
<p style="font-size: 17px;">here  diverse knowledge awaits for you. Explore history, captivate young minds, dive into sports, embrace global cultures, and unravel science mysteries. From historical narratives to children's tales and scientific discoveries, our collection invites you to discover, learn, and be inspired.</p>
<div class="alert alert-warning" role="alert">
    <h2 class="text-center"><a routerLink="/stories"  class="alert-link">Stories</a></h2>
  </div>
<div class="container mt-5 mb-3">
    <div class="row justify-content-between">
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/h1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ME and the Moon</h5>
              <p class="card-text">bedtime stories for kids</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/h2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">DAUGHTER OF MAN </h5>
              <p class="card-text">the chronicles of otherwhere</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/h3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">THE MARTIAN ANDY WEIR</h5>
              <p class="card-text">
                The story follows an American astronaut, Mark Watney, as he becomes stranded alone on Mars in 2035 and must improvise in order to survive.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
    
</div>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 class="text-center"><a routerLink="/historic"  class="alert-link">Historic</a></h2>
  </div>
<div class="container mt-5 mb-3">
    <div class="row justify-content-between">
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/his.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">INVASION</h5>
              <p class="card-text">The book titled “INVASION” by Frank McLynn delves into historical invasions spanning the period from the Armada to Hitler (1588-1945)</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/his1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">WAR in the STRAND</h5>
              <p class="card-text">S“WAR in the STRAND” by Hector Bolitho.
                The book opens with vivid descriptions of London during the early years of World War II. As the author’s pen glides across the pages, we find ourselves immersed in the bustling streets of the Strand, where history unfolds with each passing moment..</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/his3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ANNE BOLEYN</h5>
              <p class="card-text">This book, titled “ANNE BOLEYN: Her Complete Life in One Sitting,” appears to be a concise biography of Anne Boleyn. It is part of the “One Sitting Histories” series, which likely aims to provide readers with comprehensive yet brief historical accounts that can be read in a single sitting</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
    
</div>
</div>
<div class="alert alert-primary" role="alert">
    <h2 class="text-center"><a routerLink="/cultural"  class="alert-link">Cultural</a></h2>
  </div>
<div class="container mt-5 mb-3">
    <div class="row justify-content-between">
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/c1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Pride and Prejudice</h5>
              <p class="card-text">"Pride and Prejudice" is a classic novel written by Jane Austen, first published in 1813. It is one of Austen's most well-known works and is considered a masterpiece of English literature</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/c2.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Atomic Habits</h5>
              <p class="card-text">"Atomic Habits" is a self-help book written by James Clear and published in 2018. The book focuses on the idea that small changes or habits, when repeated over time, can lead to remarkable results.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/c3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Demon Copperhead </h5>
              <p class="card-text">Demon Copperhead is a 2022 novel by Barbara Kingsolver. It was a co-recipient of the 2023 Pulitzer Prize for Fiction, and won the 2023 Women's Prize for Fiction. Kingsolver was inspired by the Charles Dickens novel David Copperfield.While Kingsolver's novel is similarly about a boy who experiences poverty, Demon Copperhead is set in Appalachia and explores contemporary issue</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
    
</div>
</div>
<div class="alert alert-success" role="alert">
    <h2 class="text-center"><a routerLink="/science"  class="alert-link">Science</a></h2>
  </div>
<div class="container mt-5 mb-3">
    <div class="row justify-content-between">
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/s1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Krakatoa: The Day the World Exploded: August 27, 1883</h5>
              <p class="card-text">Krakatoa: The Day the World Exploded is a 2003 book by Simon Winchester covering the 1883 eruption of Krakatoa.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/s2.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Breath: The New Science of a Lost Art</h5>
              <p class="card-text">Breath: The New Science of a Lost Art is a 2020 popular science book by science journalist James Nesto.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
        <div class="col-6 col-md-3"><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/img/s3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wonderful life</h5>
              <p class="card-text">
                "Wonderful Life: The Burgess Shale and the Nature of History" is indeed a significant work by Harvard paleontologist Stephen Jay Gould. It explores the evolution of Cambrian fauna, particularly focusing on the Burgess Shale fossils. The book was published in 1989 and has received notable recognition.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div></div>
    
</div>
</div>
</body>